* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 16px;
}
body {
  background-color: rgb(0, 76, 145);
}
h1 {
  font-size: 24px;
  margin-bottom: 16px;
  color: white;
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  padding: 20px 24px;
  background-color: white;
  border-radius: 3px;
}
label {
  opacity: 0;
  font-size: 14px;
  color: rgb(0, 76, 145);
  background-color: white;
  position: absolute;
  margin-left: 16px;
  z-index: 10;
  margin-top: -10px;
  padding: 2px 6px;
  transition: opacity 0.15s;
}

input {
  background-color: white;
  height: 50px;
  width: 256px;
  display: block;
  margin-bottom: 6px;
  border: solid 1px gray;
  padding-left: 20px;
  border-radius: 5px;
  outline: none;
  position: relative;
}

input:focus {
  border-color: rgb(0, 76, 145);
}
input:focus::placeholder {
  color: transparent;
}
.sign-up-button {
  font-size: 20px;
  color: white;
  background-color: rgb(70, 129, 70);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 280px;
}
.warning {
  font-size: 14px;
  color: red;
  padding-left: 8px;
  margin-bottom: 12px;
  opacity: 0;
}
.show {
  opacity: 1;
}
input.red {
  border: solid 2px red;
}
input.green {
  border: solid 2px green;
}
.submit {
  background-color: green;
}
